# Carpetas de compilación (Basura de Maven)
target/
*/target/

# Archivos de configuración de IntelliJ (Basura del IDE)
.idea/
*.iml
*.iws

# Archivos compilados de Java
*.class

# Archivos temporales de OneDrive
*.tmp
~$*

# Archivos comprimidos que no deben subir
*.zip
*.jar